.home {
  background-color: #eeeff1;
  overflow: hidden;
}
.home > * {
  padding: 0 12rem;
}

.line {
  border-bottom: 0.4rem dashed rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .home > * {
    padding: 0 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .home > * {
    padding: 0 4rem;
  }
}
